doctype html
html(lang='en')
  head
    title Plant Buddy | My Plant
    link(rel='shortcut icon', type='image/x-icon', href="images/logoIcon.ico")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', href='images/icons/favicon.ico')
    link(rel='apple-touch-icon', href='/images/icons/favicon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/images/icons/favicon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/images/icons/favicon-114x114.png')
    // Loading bootstrap css
    link(type='text/css', rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700')
    link(type='text/css', rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oswald:400,700,300')
    link(type='text/css', rel='stylesheet', href='/stylesheets/jquery-ui-1.10.4.custom.min.css')
    link(type='text/css', rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(type='text/css', rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(type='text/css', rel='stylesheet', href='/stylesheets/animate.css')
    link(type='text/css', rel='stylesheet', href='/stylesheets/all.css')
    link(type='text/css', rel='stylesheet', href='/stylesheets/main.css')
    link(type='text/css', rel='stylesheet', href='/stylesheets/style-responsive.css')
    link(type='text/css', rel='stylesheet', href='/stylesheets/zabuto_calendar.min.css')
    link(type='text/css', rel='stylesheet', href='/stylesheets/pace.css')
    link(type='text/css', rel='stylesheet', href='/stylesheets/jquery.news-ticker.css')
  body
    div.content
      // BEGIN THEME SETTING
      #theme-setting
        .content-theme-setting
          select#list-style.form-control
            option(value='style1') Flat Squared style
            option(value='style2') Flat Rounded style
            option(value='style3', selected='selected') Flat Border style
      // END THEME SETTING
      // BEGIN TOPBAR
      #header-topbar-option-demo.page-header-topbar
        nav#topbar.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0;', data-step='3')
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.sidebar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a#logo.navbar-brand(href='/')
              span.fa.fa-rocket
              span.logo-text Plant Buddy
              span.logo-text-icon(style='display: none') µ
      // END TOPBAR
      #wrapper
        // BEGIN SIDEBAR MENU
        nav#sidebar.navbar-default.navbar-static-side(role='navigation', data-step='2', data-intro='Template has <b>many navigation styles</b>', data-position='right')
          .sidebar-collapse.menu-scroll.collapse
            ul#side-menu.nav
              .clearfix
              li
                a(href='/')
                  i.fa.fa-align-left.fa-fw
                    .icon-bg.bg-orange
                  span.menu-title Plant Status
              li.active
                a(href='/myplant')
                  i.fa.fa-leaf.fa-fw
                    .icon-bg.bg-orange
                  span.menu-title My Plant
              li
                a(href='/history')
                  i.fa.fa-history.fa-fw
                    .icon-bg.bg-pink
                  span.menu-title History
              li
                a(href='/login')
                  i.fa.fa-sign-out.fa-fw
                    .icon-bg.bg-green
                  span.menu-title Log Out
        #page-wrapper
          // BEGIN CONTENT
          .page-content
            #tab-general
              .row.mbl
                .col-lg-12
                  .col-md-12
                    #area-chart-spline(style='width: 100%; height: 300px; display: none;')
                .col-lg-12(style='padding:0px 20px;')
                  .row
                    .col-md-10
                      #generalTabContent.tab-content
                        #tab-edit.tab-pane.fade.in.active
                          form(action='/setting',method='post')
                            h2 Plant Setting
                            .col-sm-12.controls(style="padding-bottom:15px;")
                              .row
                                .col-xs-12
                                  .input-icon
                                    i.fa.fa-leaf
                                    input.form-control(id='plantName', type='text', placeholder='Plant Name', name='plantName')
                            label.col-xs-6.control-label(style="padding-bottom:15px;")
                              i.fa.fa-map-marker
                              | &nbsp Location
                            .col-xs-6.controls(style="padding-bottom:15px;")
                              .row
                                .col-xs-8
                                  select.form-control(id='locations', name='locations')
                                    option(disabled='disabled', selected='selected') Select your city
                                    option Bangkok
                                    option Nonthaburi
                                    option Pathum Thani
                                    option Samut Prakan
                                    option Suphan Buri
                                    option Chon Buri
                                    option Nakhon Pathom
                            hr
                            h3 Notification Setting
                              h4.col-xs-12.control-label Temparature
                              .col-sm-12.controls
                                .row
                                  h5.col-xs-8(style="padding:0px 0px 15px 30px;float: left;")
                                    label Minimum
                                  .col-xs-4(style="padding-bottom: 15px;")
                                    select.form-control(id='tempMin',name='tempMin')
                                      option(disabled='disabled', selected='selected') Unit : Percentage
                                      option 0
                                      option 10
                                      option 20 
                                      option 30 
                                      option 40 
                                      option 50 
                                      option 60 
                                      option 70 
                                      option 80 
                                      option 90 
                                      option 100 
                                  h5.col-xs-8(style="padding:0px 0px 15px 30px;float: left;")
                                    label Maximum
                                  .col-xs-4(style="padding-bottom: 15px;")
                                    select.form-control(id='tempMax',name='tempMax')
                                      option(disabled='disabled', selected='selected') Unit : Percentage
                                      option 0
                                      option 10 
                                      option 20 
                                      option 30 
                                      option 40 
                                      option 50 
                                      option 60 
                                      option 70 
                                      option 80 
                                      option 90 
                                      option 100 
                              h4.col-xs-12.control-label Moisture
                              .col-sm-12.controls
                                .row
                                  h5.col-xs-8(style="padding:0px 0px 15px 30px;float: left;")
                                    label Minimum
                                  .col-xs-4(style="padding-bottom: 15px;")
                                    select.form-control(id='moisMin',name='moisMin')
                                      option(disabled='disabled', selected='selected') Unit : Percentage
                                      option 0
                                      option 10 
                                      option 20 
                                      option 30 
                                      option 40 
                                      option 50 
                                      option 60 
                                      option 70 
                                      option 80 
                                      option 90 
                                      option 100 
                                  h5.col-xs-8(style="padding:0px 0px 15px 30px;float: left;")
                                    label Maximum
                                  .col-xs-4(style="padding-bottom: 15px;")
                                    select.form-control(id='moisMax',name='moisMax')
                                      option(disabled='disabled', selected='selected') Unit : Percentage
                                      option 0
                                      option 10 
                                      option 20 
                                      option 30 
                                      option 40 
                                      option 50 
                                      option 60 
                                      option 70 
                                      option 80 
                                      option 90 
                                      option 100 
                              h4.col-xs-12.control-label Lux
                              .col-sm-12.controls(style="padding-bottom:30px;")
                                .row
                                  h5.col-xs-8(style="padding:0px 0px 15px 30px;float: left;")
                                    label Minimum
                                  .col-xs-4(style="padding-bottom: 15px;")
                                    select.form-control(id='luxMin',name='luxMin')
                                      option(disabled='disabled', selected='selected') Unit : Percentage
                                      option 0
                                      option 10 
                                      option 20 
                                      option 30 
                                      option 40 
                                      option 50 
                                      option 60 
                                      option 70 
                                      option 80 
                                      option 90 
                                      option 100 
                                  h5.col-xs-8(style="padding:0px 0px 15px 30px;float: left;")
                                    label Maximum
                                  .col-xs-4(style="padding-bottom: 15px;")
                                    select.form-control(id='luxMax',name='luxMax')
                                      option(disabled='disabled', selected='selected') Unit : Percentage
                                      option 0
                                      option 10 
                                      option 20 
                                      option 30 
                                      option 40 
                                      option 50 
                                      option 60 
                                      option 70 
                                      option 80 
                                      option 90 
                                      option 100 
                            button.btn.btn-green.btn-block(type='submit') Apply
      // END CONTENT
    // END PAGE WRAPPER
    script(src='/javascripts/jquery-1.10.2.min.js')
    script(src='/javascripts/jquery-migrate-1.2.1.min.js')
    script(src='/javascripts/jquery-ui.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/bootstrap-hover-dropdown.js')
    script(src='/javascripts/html5shiv.js')
    script(src='/javascripts/respond.min.js')
    script(src='/javascripts/jquery.metisMenu.js')
    script(src='/javascripts/jquery.slimscroll.js')
    script(src='/javascripts/jquery.cookie.js')
    script(src='/javascripts/icheck.min.js')
    script(src='/javascripts/custom.min.js')
    script(src='/javascripts/jquery.news-ticker.js')
    script(src='/javascripts/jquery.menu.js')
    script(src='/javascripts/pace.min.js')
    script(src='/javascripts/holder.js')
    script(src='/javascripts/responsive-tabs.js')
    script(src='/javascripts/jquery.flot.js')
    script(src='/javascripts/jquery.flot.categories.js')
    script(src='/javascripts/jquery.flot.pie.js')
    script(src='/javascripts/jquery.flot.tooltip.js')
    script(src='/javascripts/jquery.flot.resize.js')
    script(src='/javascripts/jquery.flot.fillbetween.js')
    script(src='/javascripts/jquery.flot.stack.js')
    script(src='/javascripts/jquery.flot.spline.js')
    script(src='/javascripts/zabuto_calendar.min.js')
    script(src='/javascripts/index.js')
    // LOADING SCRIPTS FOR CHARTS
    script(src='/javascripts/highcharts.js')
    script(src='/javascripts/data.js')
    script.
      var amountofWater = "#{amountofWater}";
      var moisMax = "#{moisMax}";
      var moisMin = "#{moisMin}";
      var tempMax = "#{tempMax}";
      var tempMin = "#{tempMin}";
      var luxMax = "#{luxMax}";
      var luxMin = "#{luxMin}";
      var name = "#{name}";
      var locations = "#{location}";
    script(src='/javascripts/formChk.js')
    script(src='/javascripts/drilldown.js')
    script(src='/javascripts/exporting.js')
    script(src='/javascripts/highcharts-more.js')
    script(src='/javascripts/charts-highchart-pie.js')
    script(src='/javascripts/charts-highchart-more.js')
    // CORE JAVASCRIPT
    script(src='/javascripts/main.js')

    script.
      (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-145464-12', 'auto');
      ga('send', 'pageview');

